<main role="main">
  <!-- TODO remove inline style-->
  <section class="content-section" data-background="#111111" style="background: rgb(17, 17, 17);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center light">
            <h6>Популярные </h6>
            <h2>Фильмы для вас</h2>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6" *ngFor="let item of movieList">
          <div class="video-thumb light">
            <a routerLink="/film/{{item?.id}}">
              <figure class="video-image" routerLink="/film/{{item?.id}}">
                <div class="play-btn">
                  <a routerLink="/film/{{item?.id}}">+</a>
                </div>
                <img src="{{imgRootUrl+item?.poster_path}}" width="100%" alt="Image">
              </figure>
            </a>
            <div class="category-content">
              <small class="range">190 min,</small>
              <div class="tags"> {{item?.vote_average}}</div>
              <br>
              <h3 class="name"><a routerLink="/film/{{item?.id}}">{{item?.title}}</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

