<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of genres">
        <p *ngIf="genreId!=item?.id; then unStyles else styles "></p>
        <ng-template #styles>
          <a class="nav-link active"
             routerLink="/genres/{{item?.id}}">{{item?.name}} </a>
        </ng-template>
        <ng-template #unStyles>
          <a class="nav-link"
             routerLink="/genres/{{item?.id}}">{{item?.name}} </a>
        </ng-template>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light  my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
